.technology-section{
  height: 120vh;
}

.technology-content{
  position: absolute;
  padding-left: 2%;
  top:10%;
}

.technology-description {
    flex: 1;
    color: white;
}
  
.spline{
    position: absolute;
    margin: 0;
    top:0;
    right: 0; 
}
  
.h1{
    font-size: 30px;
}

.technology-text {
    padding:6%;
    font-size: 20px;
    text-align: justify;
    line-height: 1.4;
}
  