.technology-section{
  height: 120vh;
}

.technology-content{
  position: absolute;
  padding-left: 2%;
  top:10%;
}

.technology-description {
    flex: 1;
    color: white;
}
  
.spline{
    position: absolute;
    margin: 0;
    top:0;
    right: 0; 
}
  
.h1{
    font-size: 30px;
}

.technology-text {
    padding:6%;
    font-size: 20px;
    text-align: justify;
    line-height: 1.4;
}

@media screen and (min-width: 376px) and (max-width: 420px){
  
  .technology-content{
    position: absolute;
    padding-left: 2%;
    top:10%;
  }
   
  .spline-container-technology{
      display: none;
  }
    
  .technology-text {
      padding:9%;
      font-size: 13px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px){
 
  .technology-content{
    position: absolute;
    padding-left: 2%;
    top:7%;
  }
   
  .spline-container-technology{
      display: none;
  }
    
  .technology-text {
      padding:9%;
      font-size: 12px;
  }
}

@media screen and (max-width: 319px){

  .technology-content{
    position: absolute;
    padding-left: 2%;
    top:18%;
  }
   
  .spline-container-technology{
      display: none;
  }
    
  .technology-text {
      padding:9%;
      font-size: 10px;
  }
}