.technology-section{
  padding-left: 3%;
  min-height: 120vh; 
}
.technology-content {
    position: absolute;
    top: 10%;
  }
  
  .technology-description {
    flex: 1;
    color: white;
  }
  
  .spline{
    position: absolute;
    margin: 0;
    top:0;
    right: 0; 
  }
  
  .h1{
    font-size: 30px;
  }

  .technology-text {
    margin-top: 0px;
    margin-left: 30px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.4;
  }
  