*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    letter-spacing: 0.24px;
}

section{
    position: relative;
    height: 100vh; 
    padding-top: 100px;
    padding-bottom: 40px;
}

.spline-container{
    height: 130%;
    margin-top:-15%;
}

.wrapper{
    display:inline-flex;
    padding-left: 5%;
}

h1{
    color:white;
    font-size: 73px;
    font-weight: 400;
    padding-top: 10%;
    padding-left: 5%;
}

.wrapper .static-txt{
    color:white;
    font-size: 73px;
    font-weight: 400;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    color:#CCFC9D;
    list-style: none;
    font-size: 73px;
    font-weight: 500;
    position: relative;
    top:0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top:-360px;
    }
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content:"";
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 2px solid #fff;
    animation: typing 3s steps(15) infinite;
}

@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
}

@media screen and (min-width: 376px) and (max-width: 420px){
   
    h1{
        font-size: 39px;
    }
    .wrapper .static-txt{
        
        font-size: 39px;
    }

    .dynamic-txts li{
        font-size: 35px;
        height: 50px;
    }
    
    .wrapper .dynamic-txts{
        position: absolute;
        top:38%;
        margin-left: 0;
        height: 50px;
        line-height: 43px;
    }

    .spline-container{
        height: 100%;
        margin-top: 14%;
        margin-left: -160%;
    }
    @keyframes slide{
        100%{
            top:-200px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 375px){
   
    h1{
        font-size: 39px;
    }
    .wrapper .static-txt{
        
        font-size: 39px;
    }

    .dynamic-txts li{
        font-size: 35px;
        height: 50px;
    }
    
    .wrapper .dynamic-txts{
        position: absolute;
        top:41%;
        margin-left: 0;
        height: 50px;
        line-height: 43px;
    }

    .spline-container{
        height: 106%;
        margin-top: 16%;
        margin-left: -190%;
    }
    @keyframes slide{
        100%{
            top:-200px;
        }
    }
}

@media screen and (max-width: 319px){
   
    h1{
        margin-top:-25%;
        font-size: 35px;
    }
    .wrapper .static-txt{
        
        font-size: 35px;
    }

    .dynamic-txts li{
        font-size: 35px;
        height: 50px;
    }
    
    .wrapper .dynamic-txts{
        position: absolute;
        top:31%;
        margin-left: 0;
        height: 50px;
        line-height: 43px;
    }

    .spline-container{
        height: 120%;
        margin-top: 14%;
        margin-left: -240%;
    }

    @keyframes slide{
        100%{
            top:-200px;
        }
    }
    @media screen and (orientation: landscape) {
        body {
          overflow: hidden; /* Hide the content when in landscape mode */
        }
      }
}
