.welcome-section {
    height: 100vh;
    margin-top: 0%;
    padding: 5% 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    max-width: 100%; 
    box-sizing: border-box; 
}

.welcome-section h1 {
    font-size: 5vw; 
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 2vw; 
    display: block;
    color: white;
    margin-left: 5%;
    width: 70%;
}

.welcome-section p {
    color: #B8B8B8;
    font-size: 1.5vw; 
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: justify;
    max-width: 50%; 
    padding: 2vw; 
    margin-left: 3%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.welcome-section img {
    position: absolute;
    left: 35%;
    top: 25%;
    width: 65%;
    max-width: 100%; 
    z-index: -1;
}

@media (max-width: 768px) {
    .welcome-section {
        margin-top: 0%;
    }
    .welcome-section h1 {
        font-size: 10vw; 
    }
    
    .welcome-section h1, .welcome-section p {
        width: 90%; 
        margin-left: 7%; 
    }
    .welcome-section p {
        margin-left: 5%; 
        font-size: 3vw;
        max-width: 100%;
    }
    .welcome-section img {
        position: absolute;
        left: 4%;
        top: 68%;
        width: 95%;
        max-width: 100%; /* Maksymalna szerokość obrazka */
        z-index: -1;
    }
}
