body {
    min-height: 100vh;
    background: black;
    margin: 0; 
    padding: 0; 
}

header {
    width: 100%;
    height: 10vh;
}

menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    font-size: 20px;
    padding: 10%;
    margin: 0 0px;
    transition: background 0.3s ease, color 0.3s ease, margin-right 0.3s ease;
}

nav ul li:hover,
nav ul li.active {
    background: #fff;
    color: black;
    margin-right: 20px;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 9999;
    transition: background-color 0.3s ease;
    margin-bottom: 10vh; 
}

.black-bg {
    background-color: #000000;
    color: #ffffff;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 120px;
    margin-right: 20px;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(255, 240, 219, 0.3);
    display: flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(32, 31, 31, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media (max-width: 768px) {
    .social-icon a {
        width: 32px;
        height: 32px;
    }
    nav ul li {
        font-size: 10px;
    }
    .social-icon {
        margin-left: 20px;
    }
    nav ul li {
        padding: 3%;
    }
    nav ul li:hover,
    nav ul li.active {
        margin-right: 10px;
    }
}