.slider-container {
  width: 100%;
  display: flex;
  margin-top: -5%;
  margin-left: -10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 20px;
  position: relative;
}

.slider-item h2{
  margin-bottom: 10px;
}

.slider-item h2,
.slider-item p,
.slider-item a {
  color: white;
}

.slider-item a:hover {
  color: #ccfc9d;
}

.slider-item {
  display: none;
  margin-top: 5px;
}

.slider-item.active {
  display: block;
}

.slider-wrapper {
  position: relative;
}

.slider-navigation {
  position: absolute;
  left: 39%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80%; 
  margin-top: 10px;
}

.slider-navigation .navigate-icon {
  width: 70px !important;
  height: 70px !important;
  fill: white !important;
}

#navigate-icon-prev:hover, #navigate-icon-next:hover {
  fill: #ccfc9d !important;
}

#navigate-icon-prev{
  transform: scaleX(-1);
}

@media screen and (min-width: 376px) and (max-width: 420px){
  
  .slider-container {
    width: 150%;
    margin-left: -20%;
    font-size: 12px;
  }
  
  .slider-navigation {
    max-width: 80%; 
    left: 57%;
    margin-top: 15%;
  }
  .slider-navigation .navigate-icon {
    width: 40px !important;
    height: 40px !important;

  }
}

@media screen and (min-width: 320px) and (max-width: 375px){
 
  .slider-container {
    width: 165%;
    margin-left: -25%;
    font-size: 10px;
  }
  
  .slider-navigation {
    max-width: 80%; 
    left: 60%;
    margin-top: 15%;
  }
  .slider-navigation .navigate-icon {
    width: 40px !important;
    height: 40px !important;

  }
}

@media screen and (max-width: 319px){
 
  .slider-container {
    width: 190%;
    margin-left: -35%;
    font-size: 10px;
  }
  
  .slider-navigation {
    max-width: 100%; 
    left: 63%;
    margin-top: 15%;
  }
  .slider-navigation .navigate-icon {
    width: 40px !important;
    height: 40px !important;

  }
}