.slider-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 25px;
  position: relative;
}

.slider-item h2,
.slider-item p,
.slider-item a {
  color: white;
}

.slider-item a:hover {
  color: #ccfc9d;
}

.slider-item {
  display: none;
  margin-top: 5px;
}

.slider-item.active {
  display: block;
}

.slider-wrapper {
  position: relative;
}

.slider-navigation {
  position: absolute;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 125%;
  margin-top: 10px;
}

#navigate-icon-prev {
  transform: scaleX(-1);
}

.slider-item h2,
.slider-item p {
  display: inline-block;
}

.navigate-icon {
  width: 70px !important;
  height: 70px !important;
  fill: white !important;
}

.slider-button:hover .navigate-icon {
  fill: #ccfc9d !important;
}


