.work-section {
  height: 100vh;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  overflow: hidden;
  margin-left: -20%;
}

.work-content {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  max-width: 50%; 
  height: 100%;
  padding: 0 90px;
  max-height: 100vh;
}

.slider-container {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
}

@media screen and (min-width: 376px) and (max-width: 420px){
  
  .work-content {
    max-width: 80%; 
    height: 70%;
    padding: 0 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px){
 
  .work-content {
    max-width: 80%; 
    height: 70%;
    padding: 0 90px;
  }
}

@media screen and (max-width: 319px){
 
  .work-content {
    max-width: 80%; 
    height: 60%;
    padding: 0 90px;
  }
  
  .spline-container-work{
    display: none;
  }
}

