.work-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  
  .work-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 100%;
    padding: 0 50px;
    max-height: 100vh; 
  }
  
  .slider-container {
    flex: 1;
    max-height: 100%; 
    overflow: auto;
    flex-grow: 1; /* Dodaj flex-grow: 1, aby slider rozszerzył się i zajął więcej miejsca po lewej stronie */
  }
  
  .work-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 100%; 
    margin-left: auto;
  }
  