.work-section {
  height: 100vh;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  overflow: hidden;
  margin-left: -20%;
}

.work-section img {
  position: absolute;
  left: -10%;
  margin-top: -53vh;
  transform: scale(1);
  max-width: 100%;
  z-index: -1;
}

.work-content{
  width: 80%;
  margin-left: 60%;
}

@media (min-width: 769px) and (max-width: 1300px) {
  .work-section img{
    position: absolute;
    left: -10%;
    top: 186%;
  }
  .work-content{
    width: 100%;
    margin-left: 50%;
  }
}

@media screen and (max-width: 768px) {
  .work-section img{
    position: absolute;
    left: -10%;
    top: 220%;
  }
  .work-content{
    width: 100%;
    margin-left: 25%;
  }
}